LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

129 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "&File"
  {
    MENUITEM "Save As...",  32773
    MENUITEM SEPARATOR
    MENUITEM "Exit",  32774
  }
  POPUP "Parts"
  {
    POPUP "Edit Parts"
    {
      MENUITEM "Part 1",  32807
      MENUITEM "Part 2",  32800
      MENUITEM "Part 3",  32801
      MENUITEM "Part 4",  32802
      MENUITEM "Part 5",  32803
      MENUITEM "Part 6",  32804
      MENUITEM "Part 7",  32805
      MENUITEM "Part 8",  32806
      MENUITEM "Part 9",  32820
      MENUITEM "Part 10",  32808
      MENUITEM "Part 11",  32809
      MENUITEM "Part 12",  32810
      MENUITEM "Part 13",  32811
      MENUITEM "Part 14",  32812
      MENUITEM "Part 15",  32814
      MENUITEM "Part 16",  32815
      MENUITEM "Part 17",  32819
      MENUITEM "Part 18",  32817
    }
  }
  POPUP "Random"
  {
    MENUITEM "Randomize",  32776
    MENUITEM SEPARATOR
    POPUP "Random Checkboxes"
    {
      MENUITEM "All ON",  32784
      MENUITEM "All OFF",  32785
    }
    // This menu is not working properly and instead opens the editing of Part 13 or 14
    // POPUP "Randomize Hues"
    // {
    //   MENUITEM "ON",  32811
    //   MENUITEM "OFF",  32812
    // }
  }
  MENUITEM "&Help",  32772
}

100 DIALOGEX 0, 0, 274, 51
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Graphic Maker"
LANGUAGE LANG_JAPANESE, 0x1
FONT 8, "MS Shell Dlg 2"
{
   CONTROL 128, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 13, 16, 23, 19 
   CONTROL "Graphic Maker Version 1.1", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 47, 9, 139, 8 
   CONTROL "Copyright (C) SmokingWOLF 2008", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 47, 23, 139, 8 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 208, 7, 58, 16 
}

102 DIALOGEX 0, 0, 609, 401
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Graphic Maker"
MENU 129
LANGUAGE LANG_JAPANESE, 0x1
FONT 8, "MS Shell Dlg 2"
{
   CONTROL "Image Set", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 3, 601, 395 
   CONTROL "", 1008, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 3, 124, 150 
   CONTROL "Reset Sat", 1057, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 252, 3, 40, 14 
   CONTROL "Head", 1011, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 20, 52, 10 
   CONTROL "Random", 1023, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 21, 37, 9 
   CONTROL "", 1002, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 31, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 82, 12, 9 
   CONTROL "", 1034, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 21, 82, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 61, 82, 11, 9 
   CONTROL "", 1035, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 82, 29, 9 
   CONTROL "Head Extra", 1012, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 104, 20, 52, 10 
   CONTROL "Random", 1024, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 21, 37, 9 
   CONTROL "", 1003, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 104, 31, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 105, 82, 12, 9 
   CONTROL "", 1037, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 117, 82, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 82, 11, 9 
   CONTROL "", 1040, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 82, 29, 9 
   CONTROL "Upper Body", 1013, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 200, 20, 52, 10 
   CONTROL "Random", 1025, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 253, 21, 37, 9 
   CONTROL "", 1004, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 200, 31, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 201, 82, 12, 9 
   CONTROL "", 1041, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 82, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 253, 82, 11, 9 
   CONTROL "", 1042, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 82, 29, 9 
   CONTROL "Lower Body", 1014, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 96, 52, 10 
   CONTROL "Random", 1026, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 97, 37, 9 
   CONTROL "", 1005, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 107, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 158, 12, 9 
   CONTROL "", 1045, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 21, 158, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 61, 158, 11, 9 
   CONTROL "", 1046, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 158, 29, 9 
   CONTROL "Accessory 1", 1015, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 104, 96, 52, 10 
   CONTROL "Random", 1027, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 97, 37, 9 
   CONTROL "", 1006, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 103, 107, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 105, 158, 12, 9 
   CONTROL "", 1049, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 117, 158, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 158, 11, 9 
   CONTROL "", 1050, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 158, 29, 9 
   CONTROL "Accessory 2", 1016, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 200, 96, 52, 10 
   CONTROL "Random", 1028, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 253, 97, 37, 9 
   CONTROL "", 1007, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 199, 107, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 201, 158, 12, 9 
   CONTROL "", 1051, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 158, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 253, 158, 11, 9 
   CONTROL "", 1052, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 158, 29, 9 
   CONTROL "Accessory 2", 1017, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 172, 52, 10 
   CONTROL "Random", 1029, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 173, 37, 9 
   CONTROL "", 1009, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 183, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 234, 12, 9 
   CONTROL "", 1053, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 21, 234, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 61, 234, 11, 9 
   CONTROL "", 1054, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 234, 29, 9 
   CONTROL "Accessory 2", 1018, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 104, 172, 52, 10 
   CONTROL "Random", 1030, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 173, 37, 9 
   CONTROL "", 1010, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 103, 183, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 105, 234, 12, 9 
   CONTROL "", 1055, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 117, 234, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 234, 11, 9 
   CONTROL "", 1056, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 234, 29, 9 
   CONTROL "Preview", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 294, 7, 304, 230 
   CONTROL "Background Color", 1047, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 341, 4, 64, 14 
   CONTROL "Use Background Image", 1048, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 413, 7, 85, 9 
   CONTROL "", 1036, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 536, 5, 56, 85 
   CONTROL "", 1033, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 299, 19, 281, 205 
   CONTROL "", 1038, SCROLLBAR, SBS_VERT | WS_CHILD | WS_VISIBLE, 581, 18, 12, 211 
   CONTROL "", 1039, SCROLLBAR, SBS_HORZ | WS_CHILD, 299, 224, 282, 10 
   CONTROL "Actions", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 294, 237, 308, 40 
   CONTROL "Randomize", 1022, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 303, 246, 85, 18 
   CONTROL "Randomize Hues", 1058, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 305, 265, 82, 9 
   CONTROL "Only Left Half\r\n(8 -> 4 Directions)", 1021, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 242, 71, 19 
   CONTROL "Save File", 1019, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 468, 250, 59, 19 
   CONTROL "Exit", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 529, 250, 59, 19 
   CONTROL "\"Hue\" bar: Adjusts the image hue (bluish, reddish, etc.)\r\n\"Sat\" bar: Adjusts the image saturation (vividness of colors).\r\n\r\n\"Randomize\" button: Randomly selects parts with \"Random\" checked.\r\n\"Save File\" button: Saves the current image as a specified name.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 294, 279, 308, 43 , WS_EX_STATICEDGE
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_TABSTOP, 570, 304, 35, 9 
   CONTROL "Accessory 2", 1020, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 200, 172, 52, 10 
   CONTROL "Random", 1031, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 253, 173, 37, 9 
   CONTROL "", 1032, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 199, 183, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 201, 234, 12, 9 
   CONTROL "", 1059, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 234, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 253, 234, 11, 9 
   CONTROL "", 1060, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 234, 29, 9 
   CONTROL "Accessory 2", 1043, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 248, 52, 10 
   CONTROL "Random", 1044, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 249, 37, 9 
   CONTROL "", 1061, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 259, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 310, 12, 9 
   CONTROL "", 1062, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 21, 310, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 61, 310, 11, 9 
   CONTROL "", 1063, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 310, 29, 9 
   CONTROL "Accessory 2", 1064, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 104, 248, 52, 10 
   CONTROL "Random", 1065, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 249, 37, 9 
   CONTROL "", 1066, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 103, 259, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 105, 310, 12, 9 
   CONTROL "", 1067, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 117, 310, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 310, 11, 9 
   CONTROL "", 1068, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 310, 29, 9 
   CONTROL "Accessory 2", 1069, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 200, 248, 52, 10 
   CONTROL "Random", 1070, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 253, 249, 37, 9 
   CONTROL "", 1071, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 199, 259, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 201, 310, 12, 9 
   CONTROL "", 1072, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 310, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 253, 310, 11, 9 
   CONTROL "", 1073, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 310, 29, 9 
   CONTROL "Color Linking Off", 1074, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 6, 64, 8 
   CONTROL "", 1075, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 395, 261, 68, 52 
   CONTROL "Accessory 2", 1076, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 324, 52, 10 
   CONTROL "Random", 1077, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 325, 37, 9 
   CONTROL "", 1078, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 335, 90, 50 
   CONTROL "", 1079, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 21, 386, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 61, 386, 11, 9 
   CONTROL "", 1080, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 386, 29, 9 
   CONTROL "Accessory 2", 1081, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 104, 324, 52, 10 
   CONTROL "Random", 1082, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 325, 37, 9 
   CONTROL "", 1083, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 103, 335, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 105, 386, 12, 9 
   CONTROL "", 1084, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 117, 386, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 386, 11, 9 
   CONTROL "", 1085, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 386, 29, 9 
   CONTROL "Accessory 2", 1086, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 200, 324, 52, 10 
   CONTROL "Random", 1087, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 253, 325, 37, 9 
   CONTROL "", 1088, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 199, 335, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 201, 386, 12, 9 
   CONTROL "", 1089, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 386, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 253, 386, 11, 9 
   CONTROL "", 1090, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 386, 29, 9 
   CONTROL "Accessory 2", 1091, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 295, 324, 52, 10 
   CONTROL "Random", 1092, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 348, 325, 37, 9 
   CONTROL "", 1093, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 295, 335, 90, 50 
   CONTROL "", 1094, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 386, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 348, 386, 11, 9 
   CONTROL "", 1095, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 359, 386, 29, 9 
   CONTROL "Accessory 2", 1096, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 391, 324, 52, 10 
   CONTROL "Random", 1097, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 444, 325, 37, 9 
   CONTROL "", 1098, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 391, 335, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 392, 386, 12, 9 
   CONTROL "", 1099, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 404, 386, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 444, 386, 11, 9 
   CONTROL "", 1100, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 455, 386, 29, 9 
   CONTROL "Accessory 2", 1101, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 487, 324, 52, 10 
   CONTROL "Random", 1102, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 540, 325, 37, 9 
   CONTROL "", 1103, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 487, 335, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 487, 386, 12, 9 
   CONTROL "", 1104, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 499, 386, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 539, 386, 11, 9 
   CONTROL "", 1105, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 550, 386, 29, 9 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 386, 12, 9 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 296, 386, 12, 9 
}

131 DIALOGEX 0, 0, 112, 84
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Parts"
LANGUAGE LANG_JAPANESE, 0x1
FONT 8, "MS Shell Dlg 2", FW_NORMAL, FALSE, 1
{
   CONTROL "Head", 1011, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 7, 52, 10 
   CONTROL "Random", 1023, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 64, 8, 37, 9 
   CONTROL "", 1002, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 11, 18, 90, 50 
   CONTROL "Hue", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 68, 12, 9 
   CONTROL "", 1034, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 68, 40, 9 
   CONTROL "Sat", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 64, 68, 11, 9 
   CONTROL "", 1035, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 75, 68, 29, 9 
}

30721 DIALOG 9, 26, 183, 70
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New"
LANGUAGE LANG_JAPANESE, 0x1
FONT 8, "MS Shell Dlg"
{
   CONTROL "&New ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 5, 123, 8 
   CONTROL "", 100, LISTBOX, LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 6, 15, 125, 49 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 6, 40, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 23, 40, 14 
   CONTROL "&Help", -7866, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 43, 40, 14 
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  101, 	"&About Graphic Maker..."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61440, 	"Open"
  61441, 	"Save As"
  61442, 	"All Files (*.*)"
  61443, 	"Untitled"
  61446, 	"an unnamed file"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61457, 	"&Hide"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61472, 	"No error message is available."
  61473, 	"An unsupported operation was attempted."
  61474, 	"A required resource was unavailable."
  61475, 	"Out of memory."
  61476, 	"An unknown error has occurred."
  61477, 	"An invalid argument was encountered."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61696, 	"Invalid filename."
  61697, 	"Failed to open document."
  61698, 	"Failed to save document."
  61699, 	"Save changes to %1?"
  61700, 	"Failed to create empty document."
  61701, 	"The file is too large to open."
  61702, 	"Could not start print job."
  61703, 	"Failed to launch help."
  61704, 	"Internal application error."
  61705, 	"Command failed."
  61706, 	"Insufficient memory to perform operation."
  61707, 	"System registry entries have been removed and the INI file (if any) was deleted."
  61708, 	"Not all of the system registry entries (or INI file) were removed."
  61709, 	"This program requires the file %s, which was not found on this system."
  61710, 	"This program is linked to the missing export %s in the file %s. This machine may have an incompatible version of %s."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61712, 	"Please enter an integer."
  61713, 	"Please enter a number."
  61714, 	"Please enter an integer between %1 and %2."
  61715, 	"Please enter a number between %1 and %2."
  61716, 	"Please enter no more than %1 characters."
  61717, 	"Please select a button."
  61718, 	"Please enter an integer between 0 and 255."
  61719, 	"Please enter a positive integer."
  61720, 	"Please enter a date and/or time."
  61721, 	"Please enter a currency."
  61722, 	"Please enter a GUID."
  61723, 	"Please enter a time."
  61724, 	"Please enter a date."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61728, 	"Unexpected file format."
  61729, 	"%1\nCannot find this file.\nPlease verify that the correct path and file name are given."
  61730, 	"Destination disk drive is full."
  61731, 	"Unable to read from %1, it is opened by someone else."
  61732, 	"Unable to write to %1, it is read-only or opened by someone else."
  61733, 	"An unexpected error occurred while reading %1."
  61734, 	"An unexpected error occurred while writing %1."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61744, 	"%1: %2\nContinue running script?"
  61745, 	"Dispatch exception: %1"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61836, 	"Unable to read write-only property."
  61837, 	"Unable to write read-only property."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61840, 	"Unable to load mail system support."
  61841, 	"Mail system DLL is invalid."
  61842, 	"Send Mail failed to send message."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61856, 	"No error occurred."
  61857, 	"An unknown error occurred while accessing %1."
  61858, 	"%1 was not found."
  61859, 	"%1 contains an invalid path."
  61860, 	"%1 could not be opened because there are too many open files."
  61861, 	"Access to %1 was denied."
  61862, 	"An invalid file handle was associated with %1."
  61863, 	"%1 could not be removed because it is the current directory."
  61864, 	"%1 could not be created because the directory is full."
  61865, 	"Seek failed on %1"
  61866, 	"A hardware I/O error was reported while accessing %1."
  61867, 	"A sharing violation occurred while accessing %1."
  61868, 	"A locking violation occurred while accessing %1."
  61869, 	"Disk full while accessing %1."
  61870, 	"An attempt was made to access %1 past its end."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61872, 	"No error occurred."
  61873, 	"An unknown error occurred while accessing %1."
  61874, 	"An attempt was made to write to the reading %1."
  61875, 	"An attempt was made to access %1 past its end."
  61876, 	"An attempt was made to read from the writing %1."
  61877, 	"%1 has a bad format."
  61878, 	"%1 contained an unexpected object."
  61879, 	"%1 contains an incorrect schema."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61888, 	"pixels"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  62177, 	"Uncheck"
  62178, 	"Check"
  62179, 	"Mixed"
}

1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "041103a4"
	{
		VALUE "CompanyName", "SilverSecond"
		VALUE "FileDescription", "Graphic Maker"
		VALUE "FileVersion", "1.0"
		VALUE "InternalName", "CharaGraMaker.exe"
		VALUE "LegalCopyright", "(C) SmokingWOLF  All rights reserved."
		VALUE "OriginalFilename", "CharaGraMaker.exe"
		VALUE "ProductName", "Graphic Maker"
		VALUE "ProductVersion", "1.0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0411 0x03A4  
}
}
