LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

129 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "ファイル(&F)"
  {
    MENUITEM "名前を付けて保存",  32773
    MENUITEM SEPARATOR
    MENUITEM "終了",  32774
  }
  POPUP "パーツ"
  {
    POPUP "パーツの編集"
    {
      MENUITEM "パーツ1",  32807
      MENUITEM "パーツ2",  32800
      MENUITEM "パーツ3",  32801
      MENUITEM "パーツ4",  32802
      MENUITEM "パーツ5",  32803
      MENUITEM "パーツ6",  32804
      MENUITEM "パーツ7",  32805
      MENUITEM "パーツ8",  32806
      MENUITEM "パーツ9",  32820
      MENUITEM "パーツ10",  32808
      MENUITEM "パーツ11",  32809
      MENUITEM "パーツ12",  32810
      MENUITEM "パーツ13",  32811
      MENUITEM "パーツ14",  32812
      MENUITEM "パーツ15",  32814
      MENUITEM "パーツ16",  32815
      MENUITEM "パーツ17",  32819
      MENUITEM "パーツ18",  32817
    }
  }
  POPUP "ランダム"
  {
    MENUITEM "ランダム合成",  32776
    MENUITEM SEPARATOR
    POPUP "ランダムチェック"
    {
      MENUITEM "すべてON",  32784
      MENUITEM "すべてOFF",  32785
    }
    POPUP "色も合わせてランダム"
    {
      MENUITEM "ON",  32811
      MENUITEM "OFF",  32812
    }
  }
  MENUITEM "ヘルプ(&H)",  32772
}

100 DIALOGEX 0, 0, 235, 55
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "バージョン情報 グラフィック合成器"
LANGUAGE LANG_JAPANESE, 0x1
FONT 9, "MS UI Gothic"
{
   CONTROL 128, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 11, 17, 20, 20 
   CONTROL "グラフィック合成器 Version 1.1", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 10, 119, 8 
   CONTROL "Copyright (C)　SmokingWOLF 2008", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 25, 119, 8 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 178, 7, 50, 16 
}

102 DIALOGEX 0, 0, 522, 427
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "グラフィック合成器"
MENU 129
LANGUAGE LANG_JAPANESE, 0x1
FONT 9, "MS UI Gothic"
{
   CONTROL "画像セット", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 3, 515, 420 
   CONTROL "", 1008, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 6, 106, 162 
   CONTROL "彩リセット", 1057, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 218, 3, 31, 14 
   CONTROL "頭", 1011, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 22, 44, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1023, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 55, 22, 29, 12 
   CONTROL "", 1002, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 8, 34, 76, 50 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 85, 8, 10 
   CONTROL "", 1034, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 85, 34, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 85, 8, 10 
   CONTROL "", 1035, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 85, 25, 10 
   CONTROL "頭追加", 1012, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 90, 22, 45, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1024, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 22, 28, 10 
   CONTROL "", 1003, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 88, 34, 76, 50 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 89, 85, 8, 10 
   CONTROL "", 1037, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 98, 85, 35, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 85, 8, 10 
   CONTROL "", 1040, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 141, 85, 25, 10 
   CONTROL "上半身", 1013, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 171, 21, 47, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1025, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 20, 28, 10 
   CONTROL "", 1004, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 171, 33, 77, 50 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 171, 84, 8, 10 
   CONTROL "", 1041, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 84, 34, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 84, 8, 10 
   CONTROL "", 1042, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 84, 25, 10 
   CONTROL "下半身", 1014, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 104, 45, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1026, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 103, 29, 10 
   CONTROL "", 1005, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 116, 76, 50 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 167, 8, 10 
   CONTROL "", 1045, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 167, 34, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 48, 167, 8, 10 
   CONTROL "", 1046, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 167, 25, 10 
   CONTROL "装飾1", 1015, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 88, 102, 46, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1027, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 100, 29, 10 
   CONTROL "", 1006, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 88, 114, 78, 51 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 90, 167, 8, 10 
   CONTROL "", 1049, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 98, 168, 34, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 168, 8, 10 
   CONTROL "", 1050, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 141, 168, 25, 10 
   CONTROL "装飾2", 1016, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 171, 102, 48, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1028, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 219, 100, 28, 12 
   CONTROL "", 1007, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 171, 114, 76, 51 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 172, 167, 8, 10 
   CONTROL "", 1051, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 168, 35, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 168, 8, 10 
   CONTROL "", 1052, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 168, 25, 10 
   CONTROL "装飾2", 1017, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 181, 49, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1029, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 181, 29, 8 
   CONTROL "", 1009, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 193, 74, 51 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 245, 8, 8 
   CONTROL "", 1053, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 245, 34, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 245, 8, 10 
   CONTROL "", 1054, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 245, 25, 10 
   CONTROL "装飾2", 1018, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 89, 181, 53, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1030, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 133, 181, 28, 8 
   CONTROL "", 1010, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 88, 193, 78, 51 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 89, 245, 8, 10 
   CONTROL "", 1055, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 98, 245, 35, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 245, 8, 10 
   CONTROL "", 1056, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 141, 245, 25, 10 
   CONTROL "プレビュー", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 252, 7, 261, 248 
   CONTROL "背景色変更", 1047, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 295, 3, 50, 14 
   CONTROL "背景画像を使用する", 1048, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 354, 7, 70, 10 
   CONTROL "", 1036, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 460, 5, 48, 92 
   CONTROL "", 1033, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 256, 20, 241, 221 
   CONTROL "", 1038, SCROLLBAR, SBS_VERT | WS_CHILD | WS_VISIBLE, 498, 19, 10, 227 
   CONTROL "", 1039, SCROLLBAR, SBS_HORZ | WS_CHILD, 256, 241, 242, 11 
   CONTROL "操作", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 252, 255, 264, 43 
   CONTROL "ランダム合成", 1022, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 261, 265, 72, 17 
   CONTROL "色も合わせてランダム", 1058, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 262, 285, 70, 10 
   CONTROL " 左半分出力 \n\r(8→4方向化）", 1021, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 339, 261, 55, 22 
   CONTROL "ファイルを保存", 1019, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 401, 270, 50, 19 
   CONTROL "終了", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 454, 270, 50, 19 
   CONTROL " 「色」バー ： 画像の色相(青み、赤みなどの色味)を変化させます。 \n\r 「彩」バー ： 画像の彩度(あざやかさ)を変化させます。\n\r\n\r 「ランダム合成」ボタン ： 「ランダム」にチェックがついているパーツを、ランダムに選択します。 \n\r 「ファイルを保存」ボタン ： 現在の画像に名前を付けて保存します。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 252, 300, 264, 44 , WS_EX_STATICEDGE
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_TABSTOP, 489, 327, 30, 10 
   CONTROL "装飾2", 1020, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 172, 181, 47, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1031, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 218, 181, 28, 8 
   CONTROL "", 1032, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 171, 193, 76, 51 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 171, 245, 8, 10 
   CONTROL "", 1059, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 245, 35, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 245, 8, 10 
   CONTROL "", 1060, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 245, 25, 10 
   CONTROL "装飾2", 1043, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 263, 43, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1044, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 263, 28, 8 
   CONTROL "", 1061, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 275, 74, 51 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 327, 8, 10 
   CONTROL "", 1062, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 327, 34, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 327, 8, 10 
   CONTROL "", 1063, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 327, 25, 10 
   CONTROL "装飾2", 1064, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 89, 263, 44, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1065, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 133, 263, 28, 8 
   CONTROL "", 1066, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 88, 275, 78, 51 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 90, 327, 8, 10 
   CONTROL "", 1067, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 98, 327, 35, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 327, 8, 10 
   CONTROL "", 1068, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 141, 327, 25, 10 
   CONTROL "装飾2", 1069, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 172, 263, 45, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1070, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 218, 263, 28, 8 
   CONTROL "", 1071, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 171, 275, 76, 51 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 171, 327, 8, 10 
   CONTROL "", 1072, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 327, 35, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 327, 8, 10 
   CONTROL "", 1073, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 327, 25, 10 
   CONTROL "色彩連動オフ", 1074, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 167, 7, 49, 8 
   CONTROL "", 1075, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 339, 281, 58, 56 
   CONTROL "装飾2", 1076, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 346, 43, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1077, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 346, 28, 8 
   CONTROL "", 1078, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 358, 74, 51 
   CONTROL "", 1079, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 410, 34, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 410, 8, 10 
   CONTROL "", 1080, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 410, 25, 10 
   CONTROL "装飾2", 1081, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 89, 346, 44, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1082, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 133, 346, 28, 8 
   CONTROL "", 1083, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 88, 358, 78, 51 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 90, 410, 8, 10 
   CONTROL "", 1084, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 98, 410, 35, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 410, 8, 10 
   CONTROL "", 1085, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 141, 410, 25, 10 
   CONTROL "装飾2", 1086, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 172, 346, 45, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1087, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 218, 346, 28, 8 
   CONTROL "", 1088, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 171, 358, 76, 51 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 171, 410, 8, 10 
   CONTROL "", 1089, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 410, 35, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 410, 8, 10 
   CONTROL "", 1090, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 410, 25, 10 
   CONTROL "装飾2", 1091, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 258, 346, 43, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1092, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 302, 346, 28, 8 
   CONTROL "", 1093, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 258, 358, 74, 51 
   CONTROL "", 1094, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 266, 410, 34, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 301, 410, 8, 10 
   CONTROL "", 1095, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 307, 410, 25, 10 
   CONTROL "装飾2", 1096, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 341, 346, 44, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1097, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 385, 346, 28, 8 
   CONTROL "", 1098, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 339, 358, 78, 51 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 342, 410, 8, 10 
   CONTROL "", 1099, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 350, 410, 35, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 385, 410, 8, 10 
   CONTROL "", 1100, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 393, 410, 25, 10 
   CONTROL "装飾2", 1101, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 423, 346, 45, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1102, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 470, 346, 28, 8 
   CONTROL "", 1103, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 422, 358, 76, 51 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 422, 410, 8, 10 
   CONTROL "", 1104, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 430, 410, 35, 10 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 465, 410, 8, 10 
   CONTROL "", 1105, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 471, 410, 25, 10 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 410, 8, 10 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 259, 410, 8, 10 
}

131 DIALOGEX 0, 0, 112, 84
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "パーツ"
LANGUAGE LANG_JAPANESE, 0x1
FONT 8, "MS Shell Dlg", FW_NORMAL, FALSE, 1
{
   CONTROL "頭", 1011, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 7, 51, 8 
   CONTROL "ﾗﾝﾀﾞﾑ", 1023, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 7, 34, 11 
   CONTROL "", 1002, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 18, 89, 46 
   CONTROL "色", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 64, 9, 9 
   CONTROL "", 1034, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 64, 43, 9 
   CONTROL "彩", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 64, 9, 9 
   CONTROL "", 1035, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 66, 64, 29, 9 
}

30721 DIALOG 9, 26, 183, 70
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New"
LANGUAGE LANG_JAPANESE, 0x1
FONT 8, "MS Shell Dlg"
{
   CONTROL "&New ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 5, 123, 8 
   CONTROL "", 100, LISTBOX, LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 6, 15, 125, 49 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 6, 40, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 23, 40, 14 
   CONTROL "&Help", -7866, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 137, 43, 40, 14 
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  101, 	"バージョン情報 CharaGraMaker(&A)..."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61440, 	"Open"
  61441, 	"Save As"
  61442, 	"All Files (*.*)"
  61443, 	"Untitled"
  61446, 	"an unnamed file"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61457, 	"&Hide"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61472, 	"No error message is available."
  61473, 	"An unsupported operation was attempted."
  61474, 	"A required resource was unavailable."
  61475, 	"Out of memory."
  61476, 	"An unknown error has occurred."
  61477, 	"An invalid argument was encountered."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61696, 	"Invalid filename."
  61697, 	"Failed to open document."
  61698, 	"Failed to save document."
  61699, 	"Save changes to %1?"
  61700, 	"Failed to create empty document."
  61701, 	"The file is too large to open."
  61702, 	"Could not start print job."
  61703, 	"Failed to launch help."
  61704, 	"Internal application error."
  61705, 	"Command failed."
  61706, 	"Insufficient memory to perform operation."
  61707, 	"System registry entries have been removed and the INI file (if any) was deleted."
  61708, 	"Not all of the system registry entries (or INI file) were removed."
  61709, 	"This program requires the file %s, which was not found on this system."
  61710, 	"This program is linked to the missing export %s in the file %s. This machine may have an incompatible version of %s."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61712, 	"Please enter an integer."
  61713, 	"Please enter a number."
  61714, 	"Please enter an integer between %1 and %2."
  61715, 	"Please enter a number between %1 and %2."
  61716, 	"Please enter no more than %1 characters."
  61717, 	"Please select a button."
  61718, 	"Please enter an integer between 0 and 255."
  61719, 	"Please enter a positive integer."
  61720, 	"Please enter a date and/or time."
  61721, 	"Please enter a currency."
  61722, 	"Please enter a GUID."
  61723, 	"Please enter a time."
  61724, 	"Please enter a date."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61728, 	"Unexpected file format."
  61729, 	"%1\nCannot find this file.\nPlease verify that the correct path and file name are given."
  61730, 	"Destination disk drive is full."
  61731, 	"Unable to read from %1, it is opened by someone else."
  61732, 	"Unable to write to %1, it is read-only or opened by someone else."
  61733, 	"An unexpected error occurred while reading %1."
  61734, 	"An unexpected error occurred while writing %1."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61744, 	"%1: %2\nContinue running script?"
  61745, 	"Dispatch exception: %1"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61836, 	"Unable to read write-only property."
  61837, 	"Unable to write read-only property."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61840, 	"Unable to load mail system support."
  61841, 	"Mail system DLL is invalid."
  61842, 	"Send Mail failed to send message."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61856, 	"No error occurred."
  61857, 	"An unknown error occurred while accessing %1."
  61858, 	"%1 was not found."
  61859, 	"%1 contains an invalid path."
  61860, 	"%1 could not be opened because there are too many open files."
  61861, 	"Access to %1 was denied."
  61862, 	"An invalid file handle was associated with %1."
  61863, 	"%1 could not be removed because it is the current directory."
  61864, 	"%1 could not be created because the directory is full."
  61865, 	"Seek failed on %1"
  61866, 	"A hardware I/O error was reported while accessing %1."
  61867, 	"A sharing violation occurred while accessing %1."
  61868, 	"A locking violation occurred while accessing %1."
  61869, 	"Disk full while accessing %1."
  61870, 	"An attempt was made to access %1 past its end."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61872, 	"No error occurred."
  61873, 	"An unknown error occurred while accessing %1."
  61874, 	"An attempt was made to write to the reading %1."
  61875, 	"An attempt was made to access %1 past its end."
  61876, 	"An attempt was made to read from the writing %1."
  61877, 	"%1 has a bad format."
  61878, 	"%1 contained an unexpected object."
  61879, 	"%1 contains an incorrect schema."
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61888, 	"pixels"
}

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  62177, 	"Uncheck"
  62178, 	"Check"
  62179, 	"Mixed"
}

1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "041103a4"
	{
		VALUE "CompanyName", "SilverSecond"
		VALUE "FileDescription", "グラフィック合成器"
		VALUE "FileVersion", "1.0"
		VALUE "InternalName", "CharaGraMaker.exe"
		VALUE "LegalCopyright", "(C) SmokingWOLF  All rights reserved."
		VALUE "OriginalFilename", "CharaGraMaker.exe"
		VALUE "ProductName", "グラフィック合成器"
		VALUE "ProductVersion", "1.0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0411 0x03A4  
}
}
